# <center>Artificial Intelligence</center>  <center>Fall 2023</center>
## Lab 01
#### Name: Afraz Butt
#### Roll number: 2021-CS-12

Take weight in kgs and convert it into pounds. 1 pound = 1 kg 2.2046 **(2 marks)**

In [1]:
## add code here
convert = lambda kg : kg * 2.2046
print(convert(2))

4.4092

Calculate the cost of all the items in a shopping cart. **(2 marks)**

In [2]:
prices =[20,50,80,10,56,89]

## add code here
total = sum(prices)
print(total)

305

Write a function that returns the maximum of two numbers. **(2 marks)**

In [3]:
## add code here
def max_numbers(num1, num2):
  return max(num1, num2)

print(max_numbers(1,2))

2

Write a function called **deepmind** that takes a number  **(4 marks)**
* If the number is divisible by 3, it should return deep.
* If it is divisible by 5, it should return mind.
* If it is divisible by both 3 and 5, it should return deepmind.
* Otherwise, it should return the same number.

In [15]:
## add code here
def deepmind(num):
  to_return = None
  if num % 3 == 0:
    def check_by_5(number):
      return number % 5 == 0

    if check_by_5(num):
      to_return = 'deepmind'
    else:
      to_return = 'deep'
  elif num % 5 == 0:
    def check_by_3(number):
      return number % 3 == 0

    if check_by_3(num):
      to_return = 'deepmind'
    else:
      to_return = 'mind'

  else:
    to_return = num

  return to_return

print(deepmind(3)) # deep
print(deepmind(5)) # mind
print(deepmind(15))# deepmind
print(deepmind(2)) # 2

deep
mind
deepmind
2

**listA** =  [1,2,3,4,5,6,7,8,9,10]  

If an element of **listA** is smaller than 5, replace it with 0. And if an element of x is bigger than 5, replace it with 1. (**2 marks**)

In [9]:
## add code here
listA = [1,2,3,4,5,6,7,8,9,10]
new_list = []
for i in range(len(listA)):
  if listA[i] < 5:
    listA[i] = 0
  elif listA[i] > 5:
    listA[i] = 1
print(listA)

[0, 0, 0, 0, 5, 1, 1, 1, 1, 1]

Compute the square of **listA** elements in one line. (**2 marks**)

In [10]:
listA = [1,2,3,4,5,6,7,8,9,10]
## add code here
squares = [i ** 2 for i in listA]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Concatenate b1 and b2. (**2 marks**)

In [13]:
b1 = ['Hello', 'in','first']
b2 = ['Students','the','recitation']
## add code here
list_new = b1 + b2
print(list_new)

['Hello', 'in', 'first', 'Students', 'the', 'recitation']

Create a dictionary of student **Ali** where the keys are courses and values are total and obtaining marks in each course. Print the dictionary items subjects wise **(2 marks)**

In [15]:
## add code here
marks = {'PF' : 70, 'OOP' : 80, 'DSA' : 48}
for k,v in marks.items():
    print(f'In Subject {k} : {v} marks')

In Subject PF : 70 marks
In Subject OOP : 80 marks
In Subject DSA : 48 marks

Create a class 'calculator' with the following functions to compute i) addition, ii) subtraction, iii)multiplication, iv)division and v)square
between two numbers. **(2 marks)**

In [21]:
## add code here
class Calculator:
    def add(self, num1, num2):
        return num1 + num2
    def subtract(self, num1, num2):
        return num1 - num2
    def multiply(self, num1, num2):
        return num1 * num2
    def division(self, num1, num2):
        if num2 == 0:
            raise ValueError(f'Division By Zero Attempted, num2 = {num2} was zero.')
        return num1 / num2
    def square(self, num1, num2):
        return num1 ** 2, num2 ** 2

c = Calculator()
print(c.add(1,2))
print(c.subtract(1,2))
print(c.multiply(2,3))
print(c.division(2,3))
print(c.square(2,3))
#print(c.division(2,0)) # error, zero division attempted

3
-1
6
0.6666666666666666
(4, 9)

ValueError: Division By Zero Attempted, num2 = 0 was zero.